@import "normalize";
@import "variables";

html {
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: $body;
  color: #fff;
}

body {
  height: 100%;
  max-height: 100%;
  font-size: 100%;
  background: $dark;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.5em;
}

.results, .home {
  display: none;

  &.active {
    display: block;
  }
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: $headline;
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: $lightBlue;
}

a {
  color: lighten($lightBlue, 20%);
  -webkit-transition: color ease 0.2s;
  -moz-transition: color ease 0.2s;
  -ms-transition: color ease 0.2s;
  -o-transition: color ease 0.2s;
  transition: color ease 0.2s;

  &:hover {
    color: lighten($lightBlue, 30%);
  }
}

.content {
  border: 1px solid darken($lightBlue, 10%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: $darkBlue;

  aside {
    padding: 1em;
    background: lighten($darkBlue, 10%);

    .input-group {
      margin-bottom: 2em;
    }
  }

  main {
    padding: 2em;

    h2 {
      margin-top: 0;
    }

    .display {
      padding: 1em;
      background: $dark;
      color: $tan;
      font-family: $headline;
    }

    #homeLink {
      cursor: pointer;
      float: right;
      display: block;
      text-align: right;
    }
  }
}

.button-submit {
  background: $red;
  width: 100%;
  color: #fff;
  border: 1px solid $lightBlue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;;
}

input {
  color: #333;
}

input[type=text], input[type=number] {
  width: 100%;
}

.error {
  border: 1px solid $red;
  background: lighten($red, 30%);
  padding: 0 10px;
  font-size: .8em;
  color: $dark;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;;
}